@font-face {
    font-family: Cocogoose;
    src: url('Cocogoose.ttf');
}
body {
background-size: cover;
background-color: #d4d4d4;
font-family: 'Montserrat', sans-serif;
color: #747474;
}
.card {
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
width: 300px;
height: 400px;
background-color: #ffffff9f;
border-radius: 10px;
overflow: hidden;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
display: flex;
flex-direction: column;
justify-content: space-between;
text-align: center;
}
.card-image {
        align-items: center;
        justify-content: center;
        height: 75%;
        width: 300px;
        }
.card-image img {
        height: 100%;
        width: 300px;
        object-fit: cover;
        }

.card-text {
padding: 0 20px;
font-size: 18px;
line-height: 0.5;
color: #000;
}
.card-title {
font-size: 24px;
font-weight: 700;
margin-bottom: 8px;
text-shadow: 1px 1px #ffffff;
color: #000;
margin-top: 2px;
}
.card-buttons {
display: flex;
justify-content: space-around;
align-items: center;
padding: 20px;
}
.btn-like, .btn-dislike, .btn-next {
width: 80px;
height: 80px;
border-radius: 50%;
border: none;
font-size: 24px;
display: flex;
justify-content: center;
align-items: center;
color: #fff;
box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
transition: transform 0.3s ease-in-out;
cursor: pointer;
}
.btn-like {
background-color: #ff4d4d;
}
.btn-like:hover {
transform: scale(1.1);
background-color: #d64141;
}
.btn-dislike {
background-color: #f2f2f2;
color: #000;
}
.btn-dislike:hover {
transform: scale(1.1);
background-color: #d9d9d9;
}
.btn-next {
background-color: #1206f7;
text-decoration: none; 

}
.btn-next:hover {
transform: scale(1.1);
background-color: #0818fa;
}
.card-footer {
display: flex;
justify-content: space-between;
align-items: center;
padding: 20rem;
background-color: #f8f9fa;
border-top: 30px solid #dee2e6;
}
.button-group {
display: flex;
justify-content: space-between;
align-items: center;

}